##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
s = pd.Series(data)

print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
s = pd.Series(my_list)

print(s)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

##Q.3 Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female','Male','Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

* In pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or SQL table. Each column in a DataFrame is a Pandas Series object.

* A Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is similar to a column in a spreadsheet or a database table.

####Here's an example that demonstrates the difference between a Pandas Series and a DataFrame:

In [4]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([10, 20, 30, 40, 50])

# Create a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female','Male','Female']}
df = pd.DataFrame(data)

# Print the Pandas Series and DataFrame
print(s)
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

####Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some of the commonly used functions:

* head(n) and tail(n): These functions are used to display the first n rows or last n rows of a DataFrame, respectively. For example, df.head(10) will display the first 10 rows of a DataFrame df.

* describe(): This function generates descriptive statistics of the DataFrame such as count, mean, standard deviation, minimum and maximum values, and quartiles. For example, df.describe() will display the summary statistics of a DataFrame df.

* sort_values(): This function is used to sort the DataFrame by one or more columns. For example, df.sort_values('Age') will sort the DataFrame df by the 'Age' column in ascending order.

* groupby(): This function is used to group the DataFrame by one or more columns and apply an aggregate function to each group. For example, df.groupby('Country')['Age'].mean() will group the DataFrame df by the 'Country' column and calculate the mean of the 'Age' column for each group.

* drop(): This function is used to drop a column or row from the DataFrame. For example, df.drop('Country', axis=1) will drop the 'Country' column from the DataFrame df.

* fillna(): This function is used to fill missing values in the DataFrame with a specified value or method. For example, df.fillna(0) will fill all missing values in the DataFrame df with zero.

* apply(): This function is used to apply a function to each element of a column or row in the DataFrame. For example, df['Age'].apply(lambda x: x*2) will double the values in the 'Age' column of the DataFrame df.

###One example of when you might use these functions is when we have a large dataset and we want to explore the data, clean it, and transform it into a useful format for analysis. We might use head() and tail() to get a quick look at the data, describe() to get a summary of the data, sort_values() to sort the data by a relevant column, groupby() to group the data by relevant categories, drop() to remove irrelevant columns or rows, fillna() to fill missing values, and apply() to transform the data. These functions can help us to  clean and transform the data into a format that is suitable for analysis.

##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

###Both Pandas Series and DataFrames are mutable in nature, meaning their values can be modified after they are created. However, Pandas Panel is mutable in nature. It allows modification of its values after it is created. However, it is now deprecated and no longer recommended for use. The recommended way to handle three-dimensional data in Pandas is to use a multi-index DataFrame.

##Q7. Create a DataFrame using multiple Series. Explain with an example.

###To create a Pandas DataFrame using multiple Series, we can pass a dictionary of Series to the pd.DataFrame() function. The keys of the dictionary represent the column names and the values represent the Series.

* Here is an example:

In [8]:
import pandas as pd

# create Series for name, age, and country
name_series = pd.Series(['Rushikesh', 'Ravindra', 'Suvarna'])
age_series = pd.Series([22, 60, 40])
country_series = pd.Series(['USA', 'India', 'Canada'])

# create DataFrame using dictionary of Series
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Country': country_series
})

print(df)

        Name  Age Country
0  Rushikesh   22     USA
1   Ravindra   60   India
2    Suvarna   40  Canada